# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?appName=Cluster0

# Site URL
NEXT_PUBLIC_SITE_URL=https://satvikmantra.com
NEXT_PUBLIC_WHATSAPP_NUMBER=919876543210
